@import '../../style/partials/breakpoints';


// THIS IS DESKTOP
.home-container {
    display: block;
    width: 100%;
    margin-top: 36px;
    min-height: calc(100vh - 36px);
}

.workscreen-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 36px);
    width: 100%;

    &__services{
        display: block;
    }
}

@include desktop {
    .home-container {
        display: block;
        width: 100%;
        margin-top: 36px;
        min-height: calc(100vh - 36px);
    }
    
    .workscreen-container {
        flex-direction: row;
        height: calc(100vh - 36px);
        width: 100%;
    
        &__services{
            display: block;
        }
    }
}
