@import '../../style/partials/colors';
@import '../../style/partials/breakpoints';

.workstationHome-container {
    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    &--coolphrase{
        max-width: 80%;
        text-align: center;
        margin-bottom: 30px;
        color: $spa-red-light;
    }
}


@include desktop {
    .workstationHome-container {
        // min-width: 100vh;
        padding: 10px 30px;
    
        display: flex;
        flex-direction: column;
        width: 100%;
    
        justify-content: center;
        align-items: center;
    
        &--coolphrase{
            max-width: 80%;
            text-align: center;
            margin-bottom: 30px;
            color: $spa-red-light;
        }
    }
}