@import '../../style/partials/colors';

.workstationHome-container {
    // min-width: 100vh;
    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: center;
    align-items: center;

    &--coolphrase{
        max-width: 80%;
        text-align: center;
        margin-bottom: 30px;
        color: $spa-red-light;
    }
}
