$spa-black: #323232;
$spa-blue: #0095FF;
$spa-silver: #AFAFAF;
$spa-white: #FFFF;
$spa-darkblack: #000000;
$spa-darkblue: #0065AD;
$spa-mercury: #E1E1E1;
$spa-alabaster: #FAFAFA;

/////////// BELOW TO SPA

$spa-red: #b11e25;
$spa-red-light: #ac4248;
$spa-darkgray: #3e4d57;
$spa-gray: #777777;
$spa-white-back: #f7f7f7;