.workstation-container {
    // min-width: 100vh;
    padding: 10px 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    &__section-one {
        flex: 0 0 50%;
        width: 50%;

    }

    &__section-two {
        flex: 0 0 50%
    }

    &__section-three {
        flex: 0 0 100%;

    }
}